 .search-input {
  .ant-input-group {
    display: flex;
    position: relative;
    height: auto;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
    .ant-input {
      // border-bottom-width: 0px;
      z-index: 0;
      border-bottom: 0px;
      padding-top: 0.5rem;
    }
  }
  input {
    font-size: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    padding-left: 2.75rem;
    margin-bottom: 0px;
    flex: 1 1 auto;
    z-index: 3;
    padding-right: 7px;
    padding-bottom: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    &:hover {
    border-color: rgb(156, 163, 175);
    }
    @media (max-width: 1024px) {
      border-radius: 0.25rem !important;
    }
    @media (min-width: 1024px) {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
  .ant-input-group-addon {
    background-color: transparent;
    display: block;
    width: 100%;
    @media (min-width: 1024px) {
      width: auto;
    };
    button {
      text-align: center;
      font-weight: 700;
      height: 3rem;
      font-size: 1rem;
      // line-height: 1.5rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: rgb(34, 197, 94);
      cursor: pointer;
      line-height: 1;
      position: relative;
      margin-top: 1rem;
      border-style: none;
      width: 100%;
      &:hover {
      background-color: rgb(22, 163, 74);
      }
      @media (max-width: 1024px) {
        border-radius: 0.25rem !important;
      }
      @media (min-width: 1024px) {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          margin-top: 0px;
      }
    }
  }
  
}
