.category-carousel-wrapper .slick-slider {
  margin-left: -6px;
  margin-right: -6px;
  @media (min-width: 640px) {
    margin-left: -9px;
    margin-right: -9px;
  }
  @media (min-width: 1024px) {
    margin-left: -18px;
    margin-right: -18px;
  }
  button {
    font-size: 0px;
    &.slick-prev {
      left: -17px;
      border-radius: 30px;
      &:after {
        content: " ";
        background-image: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg") !important;
        background-repeat: no-repeat;
        background-position: 0 -32px;
        height: 1rem;
        width: 1rem;
        margin-top: 0.25rem;
        background-size: 16px 64px;
        display: inline-block;
      }
      &:before {
        display: none;
      }
    }
    &.slick-next {
      right: -17px;
      border-radius: 30px;
      &:after {
        content: " ";
        background-image: url("https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg") !important;
        background-repeat: no-repeat;
        background-position: 0 -48px;
        height: 1rem;
        width: 1rem;
        margin-top: 0.25rem;
        background-size: 16px 64px;
        display: inline-block;
      }
      &:before {
        display: none;
      }
    }
    &.slick-arrow {
      background-color: rgb(255, 255, 255);
      position: absolute;
      z-index: 4;
      top: 50%;
      width: 3rem;
      height: 3rem;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-width: 0px;
      line-height: 1;
    }
  }
  .slick-list {
    .slick-track {
      min-width: 100%;
    }
    .slick-slide {
      display: block;
      padding-left: 6px;
      padding-right: 6px;
      @media (min-width: 640px) {
        padding-left: 9px;
        padding-right: 9px;
      }
      @media (min-width: 1024px) {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
    .subcategory-wrapper {
      height: 345px;
      @media (min-width: 1024px) {
        width: 257px;
      }
      a {
        position: relative;
        display: block;
        h4 {
          position: relative;
          z-index: 1;
          color: white;
          padding: 1rem;
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 700;
        }
        small {
          display: block;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }
      img {
        object-fit: cover;
        position: absolute;
        height: 345px;
        width: 100%;
        border-radius: 0.25rem;
        top: 0px;
        transition-property: opacity;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
