.list-type-work-page {
  text-align: center;

  .list-type-work-page-header {

    svg {
      display: inline-block;
    }
  }

  .list-type-work-page-content {
    display: flex;
    justify-content: center;


    .list-type-work-page-content-left {
      margin: 10px;
      border: 1px solid red;
      height: 100%;
    }


  }


  // .list-type-work-page-footer {
  //   display: flex;
  //   justify-content: space-between;
  //   max-width: 80%;
  //   margin: 0 auto;
  //   // border: 1px solid red;
  //   padding-top: 20px;

  //   .list-type-work-page-footer-item {

  //   }
  // }
}
