* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

$media_queries : (
  /* Mobile width < 740px */
  'mobile': "only screen and (max-width: 46.25em)",
  /* Tablet width >= 740px & width < 1024px */
  'tablet': " only screen and (min-width: 46.25em) and (max-width: 64em)"
);

@mixin for_breakpoint($breakpoints) {
  $conditions: ();

  @each $breakpoint in $breakpoints {
    // If the key exists in the map
    $conditions: append($conditions,
      #{inspect(map-get($media_queries, $breakpoint))},
      comma);
  }

  @media #{$conditions} {
    @content;
  }
}

.list-type-work-page {
  text-align: center;

  .list-type-work-page-header {
    svg {
      display: inline-block;
    }
  }

  .list-type-work-page-body {
    .tab-sub-type-work {}

    .card-sub-type-work {}

    @include for_breakpoint(mobile) {
      .tab-sub-type-work {
        display: none;
      }

      // col-start-2 col-end-5 grid grid-cols-3 gap-4
      .card-sub-type-work {
        width: 100%;
        display: grid;
        grid-template-columns: 2;

      }
    }
  }

  .list-type-work-page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

    .list-type-work-page-footer-item {
      width: 30%;
    }

    @include for_breakpoint(mobile) {
      .list-type-work-page-footer-item {
        width: 80%;
        margin: 10px auto;
      }
    }
  }
}